@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');        

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

h1{
    font-size: 48px;
}

h2{
    font-size: 48px;
    
}

p{    line-height: 1.5;
    color: rgb(124 139 161)
    
}


.purple{
    color: purple;
}
#page{
    padding: 32px;
}
a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 24px;
}


input{
    width: 100%;
    max-width: 600px;
    border-radius: 9999px;
    border-width: 2px;
    padding: 16px 0 16px 32px;
    font-weight: 500;

}

nav{
    margin-top: 28px;
}
    
ul{
    display: flex;
}
li{
    list-style: none;
}

.container{
    padding: 80px 0;
}
.row{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}


.nav__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -36px;
}

.nav__logo{
    display: flex;
    align-items: center;
    font-weight: bold;
}

.nav__logo--img{
    width: 100%;
    max-width: 40px;
    margin-right: 8px;

}



.nav__link{
    margin: 0 24px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    padding: 8px;
}

.nav__link--primary{
    border: 2px solid purple;
    border-radius: 18px;
    background-color: purple;
    color: white;
    padding: 8px 12px;
    font-weight: normal;
}

.btn{
    width: 100%;
    border-radius: 9999px;
    background-color: purple;
    color: white;
    font-weight: 700;
    margin: 16px 8 16px 0;
    padding: 16px 0;
    font-size: 16px;
}

.input{
    width: 100%;
    border-radius: 9999px;
    border-width:  2px;
    padding: 20px 192px 20px 32px;
}


.customers{
    margin-top: 80px;
}

.customers__img{
    margin-top: 16px;
    padding: left 64px; ;
    width: 100%;
    opacity: 0.5;
}
    
.landing__para{
    margin: 32px 0;
}

.row__landing{
    padding: 96px 0;
    display: flex;
}

.landing__left{
    width: 40%;
    display: flex;
    flex-direction: column;
}

.landing__right{
    width: 60%;
}

.landing__img{
    max-width: 768px;
}

.input__wrapper{
    position: relative;
    text-align: center;
    max-width: 28rem;
}

.input__btn{
    position: absolute;
    top: 4px;
    max-width: 130px;
    max-height: 50px;
    right: 8px;
}



/*FEATURES*/

.features__span{
    color: purple;
    font-size: 16px;
    
}
.features__span--wrapper{
    margin-bottom: 18px;
}

.features__container{
    padding-top: 96px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-flow: column wrap;
    height: 100%;
    max-width: 1024px;
    
    
}

.services{
    display: flex;
    flex-wrap: wrap;
    
}
.service{
    display: flex;
    width: calc(100% / 3);
    height: 100%;
   
}
.service__description{
    display: flex;
    padding: 32px 8px;
    margin: 0 16px;
    height: 100%;
    text-align: start;
}
.service__text--container{
    margin: 8px 0 0 16px;
}

.features__para{
    margin-top: 16px;
    font-size: 16px;
    line-height: 2;
    font-size: 16px;
}

.service__span{
    margin-top: 16px;
    font-size: 24px;
    font-weight: bold;
    
}

.service__img--container{
    padding: 20px;
    
    
    
    
    
}

.service__img{

}

.features__container--wrapper{
    text-align: center;
}