@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

hr{
    color: gray;
    
}

h1{
    font-size: 48px;
    font-weight: 700;
}

h2{
    font-size: 48px;
    font-weight: 900;
    
    
}

h3{
    font-size: 20px;
    font-weight: 600;
}


p{    line-height: 1.5;
    color: rgb(124 139 161)
    
}


.purple{
    color: purple;
}
#page{
    padding: 32px;
}
a{
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 24px;
}

button{
    border-radius: 9999px;
    background-color: purple;
    color: white;
    font-weight: 700;
    border-style: none;
}

input{
    width: 100%;
    max-width: 600px;
    border-radius: 9999px;
    border-width: 2px;
    padding: 16px 0 16px 32px;
    font-weight: 500;

}

nav{
    margin-top: 28px;
}
    
ul{
    display: flex;
}
li{
    list-style: none;
}

.container{
    padding: 80px 0;
}
.row{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}


.nav__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -36px;
}

.nav__logo{
    display: flex;
    align-items: center;
    font-weight: bold;
}

.nav__logo--img{
    width: 100%;
    max-width: 40px;
    margin-right: 8px;

}



.nav__link{
    margin: 0 24px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    padding: 8px;
}

.nav__link--primary{
    border: 2px solid purple;
    border-radius: 18px;
    background-color: purple;
    color: white;
    padding: 8px 12px;
    font-weight: normal;
}

.input__btn{
    width: 100%;
    margin: 16px 8 16px 0;
    padding: 16px 0;
    font-size: 16px;
}

.input{
    width: 100%;
    border-radius: 9999px;
    border-width:  2px;
    padding: 20px 192px 20px 32px;
}


.customers{
    margin-top: 80px;
}

.customers__img{
    margin-top: 16px;
    padding: left 64px; ;
    width: 100%;
    opacity: 0.5;
}
    
.landing__para{
    margin: 32px 0;
}

.row__landing{
    padding: 96px 0;
    display: flex;
}

.landing__left{
    width: 40%;
    display: flex;
    flex-direction: column;
}

.landing__right{
    width: 60%;
}

.landing__img{
    max-width: 768px;
}

.input__wrapper{
    position: relative;
    text-align: center;
    max-width: 28rem;
}

.input__btn{
    position: absolute;
    top: 4px;
    max-width: 130px;
    max-height: 50px;
    right: 8px;
}



/*FEATURES*/

.features__span{
    color: purple;
    font-size: 16px;
    
}
.features__span--wrapper{
    margin-bottom: 18px;
}

.features__container{
    padding-top: 96px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-flow: column wrap;
    height: 100%;
    max-width: 1024px;
    
    
}

.services{
    display: flex;
    flex-wrap: wrap;
    
}
.service{
    display: flex;
    width: calc(100% / 3);
    height: 100%;
   
}
.service__description{
    display: flex;
    padding: 32px 8px;
    margin: 0 16px;
    height: 100%;
    text-align: start;
}
.service__text--container{
    margin: 8px 0 0 16px;
}

.features__para{
    margin-top: 16px;
    font-size: 16px;
    line-height: 2;
    font-size: 16px;
}

.service__span{
    margin-top: 16px;
    font-size: 24px;
    font-weight: bold;
    
}

.service__img--container{
    padding: 20px;
    
    
    
    
    
}

.service__img{

}

.features__container--wrapper{
    text-align: center;
}



/*QUALITY*/
.quality__left{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.quality__right{
    width: 50%;
}

.quality__img{
    max-width: 100%;
    width: auto

}

.quality__wrapper{
    display: flex;
    padding: 96px 0;
}

.quality__span{
    font-size: 16px;
    color: purple;
    font-weight: 700;
    letter-spacing: 2px;
}

.quality__h2{
    margin-top: 16px;
    
}

.quality__para{
    margin-top: 16px;
    font-size: 18px;
}

.quality__btn{
    margin-top: 32px;
    padding: 12px 32px;
    border-radius: 9999px;
    width: calc(100% / 4);
    max-height: 100%;
    height: 50px;
}


/*STEPS*/

.steps__left{
    width: 50%;
}

.steps__img{
    width: 100%;
    
}

.steps__right{
    max-width: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    
}

.steps__wrapper{
    display: flex;
    
}
.steps{
    display: flex;
    flex-direction: column;
    
    
}

.step{
    display: flex;
    margin-top: 32px;
}

.step__info{
    display: flex;
    flex-direction: column;
}

.steps__header{
    margin-top: 16px;
}
.steps__para{
    margin-top: 12px;
}

.steps__number{
    font-size: 36px;
    font-weight: 600;
    opacity: 0.5;
    padding-right: 16px;
}

.steps__span{
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 16px;
}


/*VALUES*/


.values__wrapper{
    display: flex;
    flex-direction: row;
}

.values__left{
    width: 50%;
}

.values__header{
    margin-top: 16px;
}
.values__para{
    margin-top: 32px;
    font-size: 18px;
}

.values__span{
    font-weight: 700;
    letter-spacing: 2px;
}

.options{
    display: flex;
}

.option{
    margin: 32px 32px 0 0;
}

.option__para{
    margin-top: 16px;
}

.btn__values{
    margin-top: 48px;
    border-radius: 9999px;
    width: calc(100% / 4);
    max-height: 100%;
    height: 50px;
}

.icon__container--left{
    background-color: rgb(154 230 180);
    border-radius: 20px;
    padding: 8px 12px;
    font-size: 24px;
}

.icon__header--wrapper{
    display: flex;
    align-items: center;
    
}

.icon__container--right{
    background-color:  rgb(254 178 178);
    border-radius: 20px;
    padding: 8px 12px;
    font-size: 24px;
}
.fa-dollar-sign{
    color: green;
}
.fa-suitcase-rolling{
   color: red;
}

.option__header{
    margin-left: 12px;
    font-size: 20px;
    font-weight: 700;
}

.values__right{
    width: 50%;

}

.values__img{
    width: 100%;
}


/*PRICING*/

.pricing__text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.pricing__span--wrapper{
    margin-bottom: 16px;
}

.pricing__span{
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.pricing__para{
    margin-top: 16px;
    font-size: 18px;
    width: 100%;
    text-align: center;
}


.plans{
    display: flex;
    position: relative;
    
}

.plan{
    width: calc(100% / 3);
    display: flex;
    flex-direction: column;
    margin: 64px 32px 0 0;
    padding: 16px 0px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-color: rgba(0, 0, 0, 0.048);
    border-style: solid;
    
    
    
}

hr{
width: 370px;    

}

.plan__highlight--left{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 56px;
    height: 0.5rem;
    width: 31.3%;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}


.plan__middle{
    background-image: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
    border-radius: 15px;
    color: white;
    
    
}

.plan__highlight--right{
    position: absolute;
    left: 816px;
    right: 0px;
    top: 56px;
    height: 0.5rem;
    width: 31.3%;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%)
}

.plan__header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
}

.plan__title{
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.plan__price{
    font-size: 48px;
    margin: 4px 0;
}
.plan__monthly{
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 2px;
    color: rgb(160 174 192);
}

.plan__lists{
    display: flex;
    flex-direction: column;
    padding: 32px;
    margin: 0 -32px;
    position: relative;
    border-top-width: 2px;
    border-bottom-width: 2px;
}

.plan__list--header{
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

.plan__list{
    margin-top: 20px;
    font-size: 16px;
    color: rgb(160 174 192);
    text-align: center;
    
}


.plan__btn{
    text-align: center;
    padding: 32px;
}
.plans__btn{
    font-size: 14px;
    padding: 16px 32px;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}


/*PRICING MIDDLE*/


.plan__monthly--middle{
    color: white;
}

.plan__list--middle{
    color: white;
}

.plans__btn--middle{
    background: white;
    color: purple;
}


/*PRICING RIGHT*/

.plans__btn--right{
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

