@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');        

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body{
    margin: 24px;
}
.purple{
    color: purple;
}
#page{
    padding: 0 32px;
}
a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 24px;
}


input{
    width: 100%;
    max-width: 600px;
    border-radius: 9999px;
    border-width: 2px;
    padding: 16px 0 16px 32px;
    font-weight: 500;

}

nav{
    margin-top: 28px;
}
    
ul{
    display: flex;
}
li{
    list-style: none;
}
.row{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}


.nav__container{
    
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    

    
}

.nav__logo{
    display: flex;
    align-items: center;
    font-weight: bold;
}

.nav__logo--img{
    width: 100%;
    max-width: 40px;
    margin-right: 8px;

}



.nav__link{
    margin: 0 24px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    padding: 8px;
}

.nav__link--primary{
    border: 2px solid purple;
    border-radius: 18px;
    background-color: purple;
    color: white;
    padding: 8px 12px;
    font-weight: normal;
}

.btn{
    width: 100%;
    border-radius: 9999px;
    background-color: purple;
    color: white;
    font-weight: 700;
    margin: 16px 8 16px 0;
    padding: 16px 0;
    font-size: 16px;
}
.input__btn{
    

    
    
}

.customers{
    margin-top: 48px;
}

.customers__img{
    margin-top: 16px;
    padding: left 64px; ;
    width: 100%;
}
    

.row__landing{
    padding: 96px 0;
    display: flex;
}

.landing__left{
    width: 40%;
    display: flex;
    flex-direction: column;
}

.landing__right{
    width: 60%;
}

.landing__img{
    max-width: 768px;
}

